.card {
    cursor: default;
}
.cta > span:last-child {
    font-size: 0;
    transition: all 0.3s;
}
.card:hover .cta > span:last-child {
    font-size: 14px;
}
@media only screen and (max-width:1025px) {
    .cta > span:last-child {
        font-size: 14px;
    }
}