.wrapper_header {
    position:sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(22px);
    z-index: 9;
    
}
.container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background:transparent;
    padding: 16px;
    align-items: center;
    width: 100%;
	max-width: 1270px;
    margin: 0 auto;

}